
.article-container {
  max-width: 900px;
}

@media (min-height: 980px) {
  .navbar {
    height: 90px
  }

  .home-section:first-of-type {
    padding-top: 12%;
    padding-bottom: 18%;
  }
}

@media (max-height: 980px) {
  .home-section:first-of-type {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

@media (max-width: 500px) {
  #profile {
    padding-top: 23%;
    padding-bottom: 35%;
  }
}